<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
        </div>
        <div class='col-sm-9 body-content'>
            <h1>Hello from Blazor!</h1>

            The time is @DateTime.Now
        </div>
    </div>
</div>
